* {
  box-sizing: border-box;
}

body {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 85% 15%;
  grid-template-areas:
    "cl1 cl2 cl3 cl4 cl5"
    "ft1 ft2 ft3 ft4 ft5";
  margin: 0;
}

/* Color Output */

.color1,
.color2,
.color3,
.color4,
.color5 {
  height: 85svh;
}
.color1 {
  grid-area: cl1;
}

.color2 {
  grid-area: cl2;
}

.color3 {
  grid-area: cl3;
}

.color4 {
  grid-area: cl4;
}

.color5 {
  grid-area: cl5;
}

/* Information */

.info1,
.info2,
.info3,
.info4,
.info5 {
  background-color: #3b3a3a;
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
  height: 15svh;
  user-select: none;
}

p {
  margin: 0.3rem 0 0 0;
}

.info1 {
  grid-area: ft1;
}

.info2 {
  grid-area: ft2;
}

.info3 {
  grid-area: ft3;
}

.info4 {
  grid-area: ft4;
}

.info5 {
  grid-area: ft5;
}

p:hover {
  transform: scale(1.3);
}

img {
  height: 20px;
  width: 20px;
  margin: 0px;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 1;
  height: 48px;
  width: 21px;
  bottom: 1.3rem;
  margin: 0;
  right: 200rem;
}

input[type="checkbox"].lock + label {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

img.unlock-icon:hover {
  transform: scale(1.3);
}

input[type="checkbox"].lock + label:hover {
  transform: scale(1.3);
}

input[type="checkbox"].lock + label:checked {
  width: 20px;
  height: 20px;
}

input[type="checkbox"].lock:checked + label {
  content: url(./images/lock.svg);
  height: 20px;
  width: 20px;
}

.edit-txt {
  position: absolute;
  height: 1.6rem;
  width: 7.5rem;
  display: none;
}

.edit-icon + label {
  content: url(./images/edit.svg);
  height: 20px;
  width: 20px;
  cursor: pointer;
  margin: 0 0 0 0.4rem;
}

.edit-icon + label:hover {
  transform: scale(1.3);
}

form {
  display: flex;
  justify-content: center;
}

.icon {
  margin: 0 0 0.5rem 0;
  user-select: none;
}

/* Button to change color */
.ch-color {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  height: 2rem;
  width: 2rem;
  box-shadow: 0 0 15px 8px rgb(179, 177, 177);
  border-radius: 500px;
  cursor: pointer;
}

.ch-color:hover {
  transform: scale(1.2);
}
